.hero-background {
    background-image: url("https://www.duluthnewstribune.com/incoming/article1691453.ece/alternates/BASE_LANDSCAPE/3378675%2BThinkstockPhotos-589415708.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}
