.hero-background {
    background-image: url("/screenshots/shutterstock_1491621017.jpg");
    background-position: center; 
    background-repeat: no-repeat; 

}

<<<<<<< HEAD
.navbar-item img {
    max-height: 6.5rem;
}
=======
input {
    border-radius: 20px;
}

>>>>>>> display-apt-content
